#h1 {
	text-align: center;
	font-family: 'WindSong', cursive;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#top {
	background-color: #ededed;
}

#about {
	display: flex;
	padding: 50px;
}

#aboutimg {
	padding-right: 50px;
	max-width: 500px;
}

#pastry {
	width: 100%;
}

#shop {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

.order {
	width: 400px;
	height: 300px;
	padding-left: 37px;
}

.caption {
	width: 450px;
	text-align: center;
	font-size: x-large;
}

.price {
	text-align: center;
	font-size: x-large;
}

.cart {
  background-color: #4287f5; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}

.cart:hover {
	opacity: 0.8;
}

#shoppingcart {
	font-size: 36px;
	color: #4684e3;
	cursor: pointer;
	position: fixed;
	right: 15px;
}

#shoppingcart:hover {
	opacity: 0.8;
}

.shop {
	float: right;
}

#auth {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
}

#cartinfo {
	background-color: #d9e7ff;
	height: 100%;
	width: 20%;
	display: none;
	right: 0;
	position: fixed;
	z-index: 1;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

.total {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: large;
	justify-content: center;
}

#clear {
	cursor: pointer;
	border: none;
	background-color: lightgray;
	bottom: 0;
	font-size: large;
	padding: 10px 20px;
	position: absolute;
	left: 35%;
}

#x {
	float: right;
	padding-right: 10px;
	cursor: pointer;
}
