#h1 {
	text-align: center;
	font-family: 'WindSong', cursive;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#top {
	background-color: #ededed;
}

#about {
	display: flex;
	padding: 50px;
}

#aboutimg {
	padding-right: 50px;
}

#pastry {
	width: 100%;
}

#abouttext {
	max-width: 500px;
}

#shop {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

.order {
	width: 400px;
	height: 300px;
	padding-left: 37px;
}

.caption {
	width: 450px;
	text-align: center;
	font-size: large;
	padding-bottom: 10px;
}

.cart {
  background-color: #4287f5; 
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#shoppingcart {
	font-size: 36px;
	color: #4684e3;
	cursor: pointer;
}

.shop {
	float: right;
	padding-right: 60px;
}

#cartinfo {
	background-color: #85b4ff;
	display: none;
	position: absolute;
}

#container {
	display: flex;
	flex-wrap: wrap;
}
